TRANSPORT_NAME="http" #"stdio", "http", "sse", "streamable-http"|
SERVER_PORT="8005"
SERVER_HOST="0.0.0.0"


AUTH_ENABLED=true
AUTH_PROVIDER=auth0
STORAGE_ENCRYPTION_KEY="lcQhtxA4BWnZ7FJFMywb6wpLkKLwar98Klyo3WgAgRo="
JWT_SIGNING_KEY="bef6d16100d7484b275042dc05500406a676ba098cbb0fff124e5e7b3275af59"
RESOURCE_BASE_URL=http://127.0.0.1:8005


# auth0 config
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=
AUTH0_DOMAIN=hiremostafa.us.auth0.com
AUTH0_AUDIENCE=http://127.0.0.1:8005/mcp

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

